@import "tailwindcss";

@import "tailwindcss";

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

body {
  overflow-x: hidden;
}


@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/SourceSerif4-Italic-VariableFont_opsz,wght.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "MyFont";
  src: url("./assets/fonts/SourceSerif4-VariableFont_opsz,wght.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GeistFontBold";
  src: url("./assets/fonts/Geist-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GeistFontMedium";
  src: url("./assets/fonts/Geist-Medium.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "GeistFontExtraBold";
  src: url("./assets/fonts/Geist-ExtraBold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}

@theme {
  --font-myfont: "MyFont", SourceSerif4;
  --font-myGeistBold: "GeistFontBold";
  --font-myGeistMedium: "GeistFontMedium";
  --font-myGeistExtraBold: "GGeistFontExtraBold";
}


